@using SachOnline.Models
<nav class="navbar navbar-inverse">
    <!--navbar-fixed-top-->
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SachOnline</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
                <li><a href="#">TRANG CHỦ</a> </li>
                <li><a href="#">GIỚI THIỆU</a> </li>
                <li><a href="#">LIÊN HỆ</a> </li>
                @*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">SÁCH THEO CHỦ ĐỀ<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        @{
                            var cd = ViewBag.cd;
                        }
                        @foreach (var item in cd)
                        {
                            <li><a href="@Url.Action("SachTheoChuDe","SachOnline", new {id = item.MaCD })" class="list-group-item">@item.TenChuDe</a></li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">SÁCH THEO NHÀ XUẤT BẢN<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        @{
                            var nxb = ViewBag.nxb;
                        }
                        @foreach (var item in nxb)
                        {
                            <li><a href="@Url.Action("SachTheoNhaXuatBan","SachOnline", new {id = item.MaNXB })" class="list-group-item">@item.TenNXB</a></li>
                        }
                        Ư

                    </ul>
                </li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 @Html.Action("LoginLogoutPartial", "SachOnline");
               @Html.Action("GioHangPartial", "GioHang")

            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                </div>
                <button type="submit" class="btn btn-default">Tìm</button>
            </form>


        </div>
       

       
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>